In [1]:
## Integers

age = 25
type(age)

int

In [ ]:
## float data type

height = 5.9
print(height)
print(type(height))

5.9
<class 'float'>

In [3]:
## string type

name = "Akhil"
print(name)
print(type(name))

Akhil
<class 'str'>

In [5]:
## boolean
is_load = True
type(is_load)

bool

In [9]:
a = 10
b = 10
#bool()

type(a == b)

bool

In [10]:
## common errors

result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [12]:
result = "Hello" + str(5)
print(result)

Hello5

In [ ]:
str = "Hello"

str.