In [3]:
## Arithmetic operators

a = 10
b = 20

add_result = a + b
sub_result = b - a
mul_result = a * b
div_result = b / a
floor_div_result = b // a
mod_result = a % b
exponent_result = a ** b

print(add_result)
print(sub_result)
print(mul_result)
print(div_result)
print(floor_div_result)
print(mod_result)
print(exponent_result)

30
10
200
2.0
2
10
100000000000000000000

In [ ]:
## Comparision operators

a = 10
b = 10

a == b ## Equal to operator

True

In [ ]:
str1 = "Akhil"
str2 = "Akhil"

str1 == str2

False

In [7]:
str1 != str2

True

In [8]:
str3 = "Akhil"
str4 = "akhil"

str3 != str4

True

In [9]:
n1 = 3
n2 = 4

n1 > n2

False

In [ ]:
print(n1 < n2)

True

In [ ]:
num1 = 9
num2 = 9

num1 >= num2

True

In [14]:
num1 = 8
num2 = 9

num1 <= num2

True

In [15]:
## Logical Operators

## and, not, or

X = True
Y = True

res = X and Y
print(res)

True

In [16]:
X = True
Y = False

res = X and Y
print(res)

False

In [18]:
X = False
Y = True

res = X or Y
print(res)

True

In [20]:
X = False

not X

True